[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bcrypt = "*"
flask-bcrypt = "*"
ipdb = "0.13.9"
flask = "*"
flask-sqlalchemy = "3.0.3"
flask-migrate = "*"
sqlalchemy-serializer = "*"
flask-restful = "*"
flask-session = "*"
flask-cors = "*"
faker = "*"
flask-marshmallow = "*"
python-dotenv = "*" 
marshmallow-sqlalchemy = "*"
flask-jwt-extended = "*"
openai = "*" 
marshmallow = "*"


[dev-packages]

[requires]
python_full_version = "3.8.13"
